
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Computer Not Working?</h1>
                    <p>Is your computer running slow? or maybe not at all? Call us for a quick and easy quote</p>
                    <p><a href="#" role="button" class="btn btn-primary btn-lg">Learn more »</a></p>
                </div>
                <div class="col-md-5"><img src="images/mouse.png"/></div>
            </div>
        </div>
    </div>



